@page "/"

<PageTitle>MTGDB</PageTitle>

<h1>Magic: The Gathering Deck Builder</h1>

<EditForm Model="@_filter" OnValidSubmit="@GetCards">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Name</label>
        <InputText id="Name" class="form-control" @bind-Value="@_filter.Name" />
        <ValidationMessage For="@(() => _filter.Name)" />
    </div>

    <div class="form-group">
        <label for="text">Text</label>
        <InputText id="text" class="form-control" @bind-Value="@_filter.Text" />
        <ValidationMessage For="@(() => _filter.Text)" />     
    </div>

    <div class="form-group">
        <label for="set">Set</label>
        <InputText id="set" class="form-control" @bind-Value="@_filter.Set" />
        <ValidationMessage For="@(() => _filter.Set)" />
    </div>

    <div class="form-group">
        <label for="rarity">Rarity</label>
        <InputText id="rarity" class="form-control" @bind-Value="@_filter.Rarity" />
        <ValidationMessage For="@(() => _filter.Rarity)" />
    </div>

    <div class="form-group">
        <label for="artist">Artist</label>
        <InputText id="artist" class="form-control" @bind-Value="@_filter.Artist" />
        <ValidationMessage For="@(() => _filter.Artist)" />
    </div>

    <div class="form-group">
        <label for="sort">Sort</label>
        <InputSelect id="sort" class="form-control" @bind-Value="@_filter.Sort">
            <option value="Asc">Ascending</option>
            <option value="Desc">Descending</option>
        </InputSelect>
    </div>

    <input type="submit" id="button-filter" class="btn" value="Filter" />
</EditForm>

<CardsOverview Cards="_cards"></CardsOverview>
